.ios, .md{
	page-inspection {
		ion-item{
				width: 92%;
				margin: 4%;
				padding-left: 10px !important;
				margin-bottom: 10px;
				background-color: #fff;
				opacity: 0.7;
				font-size: 0.9em;
				transition: 0.2s linear;
			}
	}
	.info{
		
		font-weight: bold;
		color: #ffff;


	}
	.ex-header{
		padding: 4px;
		background-color: #08A17D;
		font-weight: 600;
	}
	.ex-header ion-icon{
		color: #fff;
	}
	.ex-header ion-label{
		color: #fff;
		margin: 0;
		padding: 0;

	}
	#item{
		height: 10px;
	}
	.btn-edit{
		float: right;
	}
	.btn-editar{
		background-color: #08a17d;
		color: white;
		font-family: roboto;
	}
	.contato{
		display: flex;		
  		margin: auto;
  		justify-content: center;
  		padding-left: auto;

	}
	.contato .contact{
		padding-left: 5px;
		margin: auto;
		width: 50%;
	}
	.contato .phone{
		width: 100%;
	}
}

