page-occurrence {

.status{
	font-size: 32px;
	color: #D03001;
	opacity: 2;
}
.seta-dir{
	color: #344A4D;
	float: right;	
	font-size: 32px;
	margin-top: -13%;
}
.slide{
	height: 90%;
	padding-top: 4.4%;
}


}
