// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


// Material Design Sidemenu

#sair{
  margin-bottom: 5px;
}
#menu-material {

  .menu-header {
    padding: 5px 15px;
    margin-top: 50px;
    background-size: cover;
    color: white;
    .name {
      float: left;
      font-weight: 500;
      margin-bottom: 3px;
      font-size: 20px;
      color: #344A4D;
    }
    .e-mail {
      float: left;
      margin-top: 0;
      margin-bottom: 5px;
      font-size: 17px;
      color: #344A4D;
    }
  }
  .lista{
    color:  #344A4D;
    background-color: #F4F4F4;

  }
  .user-avatar {
    float: left;
    display: block;
    margin-top: -15px;
    margin-left: 4px;
    margin-right: auto;
    margin-bottom: 50px;
    padding: .5em;
    height: 16vh;
    object-fit: cover;
    border-radius: 50%;
  }
  h3,
  .label,
  {
    color: #999;
    font-weight: 400;
  }
  ion-icon {
    color: #777;
  }
  .footer{
    color: #344A4D;
    background-color: #F4F4F4;
    
  }
 .botao-sair{
  background-color: #F4F4F4;
 }
  .back-menu{
    background-color: #F4F4F4;
  }
  .icone-pwr{
    width: 18px;
    height: 20,31px;
    margin: auto;
    
  }
}